*{
    margin: 0;
    padding:0;
}
.header{
    width: 100%;
    background-color: gray;
}
.footer{
    width: 100%;
    background-color: lightgreen;
}
h2{
    font-size: 25px;
    color: blueviolet;
}
h1{
    font-size: 20px;
    text-align: center;
    color:red;
}
.wrapper{
    overflow: hidden;
    
}
.side-bar{
    border:1px solid darkblue;
    background-color: lightblue;
    width:20%;
    float:left;
}
.side-bar ul li{
    list-style-type:none;
    font-size: 20px;
}
.btn-group-vertical {
    display:block;
}
.main{
    width:80%;
    float: left;
    padding-bottom: 52px;
}
.intern-team li {
    list-style-type: none;
}
.junior-team li {
   list-style-type: none; 
}